{% extends 'Main/Base.html' %}
{% load static %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title> Travencia | Terms and Conditons </title>
</head>
<style>
  body{
    font-family: inherit !important;
    font-size: 12px;
    line-height: 19px;
    padding: 6px;
  
  }
</style>
<br>
<br>
<br>
<br>
































<div class="container-fluid">








<div class="card">
  <div class="card-header"  style="margin-left: 35px; margin-right: 35px; background-color: #2ed262;">
    Terms and Conditons 
  </div>
  <div class="card-body" style="margin-left: 35px; margin-right: 35px;">
   

    <ol>
      <li>This offer is from Travencia.com® and is available to Travencia.com U.S. members only.</li>
      <li>This single-use coupon is valid for a discount of up to $50 towards the new booking on Travencia.com of either: (A) one (1) room at an Travencia® Special Rate ("ESR") hotel; or (B) one (1) air plus ESR hotel package booking. The cost of the booking (excluding taxes and fees) must be at least $200.</li>
      <li>This PGC (Price Guarantee Coupon) is valid for one (1) year from date of issuance, rounded to the last day of the month. For example, if your coupon is issued on 8/15/2014, you have until 8/15/2015 to redeem).</li>
      <li>There are no blackout dates when using this PGC. Bookings are subject to availability at the time of booking and all applicable terms and conditions. ESR hotel and Package purchases have an advance purchase requirement of 3:00 p.m. Pacific Time on the day of planned arrival.</li>
      <li>his PGC is transferable to other guests for bookings made within the same account to which the PGC was deposited. It is not otherwise transferable. It may not be combined with or applied to other coupons, promotions, special offers, or air-only bookings.</li>
  
      <li>All taxes, fees, charges, and surcharges applicable to the booking, including, without limitation, extra person, phone, parking, and other charges are applicable to your reservation, and this coupon cannot be applied to them. These charges must be paid at the time the reservation is confirmed or to the hotel property directly and are the responsibility solely of the customer. This PGC cannot be applied to the cost of cancellation or change penalties, prepaid reservations, administrative fees, or other miscellaneous charges.</li>
      <li>Milk</li>
  
      <li>This PGC will be deemed fully used once a qualifying reservation has been made and will not be returned or replaced, even in the event that the reservation is cancelled. If travel dates are changed after the use of the coupon, then the coupon will not apply to the changed travel schedule. There is no residual value and no credit will be issued if purchase amount is less than the coupon amount. Customer is responsible for the cost of the booking above the value of the redeemed coupon.</li>
      <li>Terms and conditions of this PGC are as written and cannot be changed by any representation of any unauthorized person, including employees of Travencia</li>
      <li>This PGC is not redeemable for cash. Coupon cash value 1/100¢.</li>
      <li>Void where prohibited by law.</li>
    
    </ol>

   
    
  </div>
</div>

</div>


<br>
<br>
<br>




 <!--Footer-->
 <footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
    <a class="btn btn-outline-white" href="/"  role="button">Travencia
    
    </a>
    <a class="btn btn-outline-white" href="#"  role="button">Start Now

    </a>
  </div>
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="#" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="#" target="_blank">
    
    </a>

    <a href="#" target="_blank">
     
    </a>

    <a href="#" target="_blank">
     
    </a>

    <a href="#" target="_blank">
     
    </a>
  </div>
  <!-- Social icons -->

<!--Copyright-->
<div class="footer-copyright py-3">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  © 2020 Copyright:
  <a href="/" > Travencia.com </a>
</div>
<!--/.Copyright-->


</footer>
<!--/.Footer-->



{% endblock %} 
  
</body>
